<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.kidsafer.mapper.UserMapper">
  <select id="findById" resultType="com.flab.kidsafer.domain.User">
    SELECT id, email, password, nickname, phone, type, status
    FROM user
    WHERE id = #{userId}
  </select>

  <select id="findByIdAndPassword" resultType="com.flab.kidsafer.domain.User">
    SELECT id, email, password, nickname, phone, type, status
    FROM user
    WHERE id = #{userId}
    AND password = #{password}
  </select>

  <select id="findByEmailAndPassword" resultType="com.flab.kidsafer.domain.User">
    SELECT id, email, password, nickname, phone, type, status
    FROM user
    WHERE email = #{email}
    AND password = #{password}
  </select>

  <insert id="insertUser" parameterType="com.flab.kidsafer.domain.User">
    INSERT INTO user(email, password, nickname, phone, type, status)
    VALUES (#{email}, #{password}, #{nickname}, #{phone}, #{type}, #{status})
  </insert>

  <select id="findByEmail" resultType="com.flab.kidsafer.domain.User">
    SELECT id, email, password, nickname, phone, type, status
    FROM user
    WHERE email = #{email}
  </select>

  <update id="updateUserInfo">
    UPDATE user
    SET nickname = IFNULL(#{nickname}, nickname),
    phone = IFNULL(#{phone}, phone)
    WHERE id = #{userId}
  </update>

  <update id="updateUserPassword">
    UPDATE user
    SET password = #{password}
    WHERE id = #{userId}
  </update>

  <update id="updateEmailCheckTokenWithTime" parameterType="com.flab.kidsafer.domain.User">
    update
    user
    set email_token_generated_date = #{emailCheckTokenGeneratedAt},
    email_token = #{emailCheckToken}
    where email = #{email}
  </update>

  <update id="updateEmailStatus" parameterType="com.flab.kidsafer.domain.User">
    update
    user
    set status = #{status}
    where email = #{email}
  </update>

  <update id="updateUserStatus">
    UPDATE
      user
    SET status = #{status}
    WHERE id = #{userId}
  </update>
</mapper>
